.git
.gradle

backend/.gradle
backend/build
backend/bin
backend/data
backend/.settings
backend/.project
backend/.classpath
backend/*.iml

frontend/node_modules
frontend/dist
frontend/.angular
frontend/.editorconfig
.idea
.vscode
*.md
